.label-default {
  font-size: $base-mini-font-size;
  text-align: center;
  color: #fff;

  background-color: $base-background-color;
  border-radius: 2px;
  display: inline;
  padding: 2px 10px;
}

.label-bold {
  font-weight: 900;
  font-size: $base-font-size;
  text-transform: uppercase;
  color: #fff;

  background-color: rgba(198, 29, 35, 0.9);
  border-radius: 8px;
  padding: 5px 10px;
  display: inline;
}