/*
* import global variables
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
header {
  background-color: #fff;
  height: 60px; }

.header {
  display: flex; }
  .header__logo {
    width: 35%;
    background-color: #C61D23;
    padding-left: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header__logo img {
      display: inline-block;
      height: 40px; }
  .header__formgroup {
    margin: 0 10px;
    width: 100%; }
  .header__nav {
    width: 65%;
    text-align: right;
    height: 60px; }
  .header--gray {
    background-color: #F0F0F0; }

@media only screen and (max-width: 992px) {
  .header {
    flex-direction: column; }
    .header__logo, .header__nav {
      width: 100%; } }

footer {
  background-color: #fff; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0; }

.footer-item {
  flex-grow: 1; }
  .footer-item__head {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px; }
  .footer-item__hotline {
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #C61D23;
    margin-top: 0;
    margin-bottom: 15px; }
  .footer-item__payment-method, .footer-item__bct {
    margin-top: 10px;
    display: inline-block; }

.own-product__item {
  display: flex;
  align-items: center;
  margin: 15px 0; }
  .own-product__item img {
    margin-right: 10px; }
  .own-product__item a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.2s; }
    .own-product__item a:hover {
      color: #08c; }

.link__item {
  margin: 15px 0;
  cursor: pointer; }
  .link__item a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: color 0.2s; }
    .link__item a:hover {
      color: #08c; }

h1, h2, h3, h4, h5, h6,
p, ul, ol, li, pre, a, span, div {
  font-family: 'Roboto', sans-serif; }

.button-location {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  background-color: #F0F0F0;
  padding: 15px 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  transition: all 0.3s; }
  .button-location:hover {
    color: #fff;
    background-color: #C61D23; }

.button--bold {
  text-decoration: none;
  display: inline-block;
  background-color: #C61D23;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 5px; }

.button--default {
  display: inline-block;
  text-decoration: none;
  color: #C61D23;
  background-color: #fff;
  border: 0.5px solid #C61D23;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 6px 13px;
  transition: all 0.3s; }

.label-default {
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #C61D23;
  border-radius: 2px;
  display: inline;
  padding: 2px 10px; }

.label-bold {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(198, 29, 35, 0.9);
  border-radius: 8px;
  padding: 5px 10px;
  display: inline; }

.nav-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 0; }
  .nav-main__item {
    padding: 10px 25px; }
    .nav-main__item:hover .nav-icon__label {
      color: #C61D23;
      transition: all 1s; }

.nav-icon {
  display: inline-block;
  text-decoration: none; }
  .nav-icon span {
    display: block;
    text-align: center; }
  .nav-icon__top {
    height: 30px; }
    .nav-icon__top img {
      transform: translateY(50%);
      margin-top: -50%; }
  .nav-icon__label {
    text-transform: uppercase;
    font-size: 10px;
    color: #000; }

.form-group {
  position: relative; }
  .form-group__input {
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    padding-right: 25px;
    border-radius: 5px;
    outline: none;
    border: none; }
  .form-group__icon {
    display: inline-block;
    position: absolute;
    right: 10px;
    padding: 10px 0; }
    .form-group__icon i {
      line-height: 20px;
      color: #191919;
      font-size: 14px; }
  .form-group__case {
    background-color: #F0F0F0;
    border-radius: 5px 0px 0px 5px;
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    color: #191919;
    position: absolute;
    cursor: pointer; }
    .form-group__case span {
      display: block;
      line-height: 15px;
      font-size: 12px; }
      .form-group__case span i.fa {
        margin-left: 6px; }

#crl-banner .item {
  text-align: center;
  cursor: pointer; }

#crl-label .owl-item .item {
  background-color: #fff;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  font-size: 14px; }
  #crl-label .owl-item .item p {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.2s; }
    #crl-label .owl-item .item p:hover {
      color: #08c; }

#crl-label .owl-item:first-child .item p {
  border: none; }

#crl-label .synced .item {
  font-weight: 700; }

.home-product {
  margin: 15px 0; }

.product-head {
  background-color: #C61D23;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 5px; }
  .product-head--second {
    background-color: #fff;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #E5E5E5; }
    .product-head--second a {
      text-decoration: none; }
      .product-head--second a h2 {
        font-size: 24px;
        color: #000;
        font-weight: normal; }
  .product-head__title {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    text-transform: uppercase;
    padding: 15px 0; }
  .product-head__nav {
    text-align: right; }
    .product-head__nav ul {
      overflow: hidden; }
    .product-head__nav .nav-item {
      float: left;
      padding: 16px 0;
      transition: all 0.2s ease-in-out; }
      .product-head__nav .nav-item a {
        color: #ffffff;
        font-weight: 500px;
        text-decoration: none;
        line-height: 14px;
        padding: 16px 20px; }
      .product-head__nav .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.2); }
  .product-head__vote {
    display: flex;
    align-items: center;
    margin-left: 20px; }
    .product-head__vote .vote-stars li img {
      width: 17px; }
    .product-head__vote .vote-label {
      font-size: 14px; }

.product-content {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap; }

.product-item {
  flex-grow: 1;
  width: 20%;
  padding: 8px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .product-item:first-child {
    border-left: none; }
  .product-item__img {
    position: relative; }
    .product-item__img img {
      padding: 0 10px;
      width: 100%;
      transition: all 0.3s; }
    .product-item__img .label-default {
      position: absolute;
      left: 0;
      bottom: 30px; }
    .product-item__img:hover img {
      transform: translateY(-15px); }
  .product-item__caption {
    margin-top: -20px;
    position: relative;
    z-index: 1; }
  .product-item__name a {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    transition: color 0.2s ease-in-out; }
    .product-item__name a:hover {
      color: #08c; }
  .product-item__price {
    margin-top: 5px; }
    .product-item__price a {
      font-size: 14px;
      font-weight: 900;
      text-decoration: none;
      color: #C61D23; }
  .product-item__desc {
    margin: 25px 0 40px;
    padding-right: 15px; }
    .product-item__desc a {
      font-size: 14px;
      text-decoration: none;
      color: #000000; }

.product-item--big {
  flex-grow: 2;
  width: 40%;
  padding: 0; }
  .product-item--big .product-item__img img {
    padding: 0; }
  .product-item--big .product-item__img .label-default {
    display: none; }
  .product-item--big .product-item__caption {
    margin: 0;
    padding: 15px 7px; }
  .product-item--big .product-item__price {
    margin-top: 10px; }
  .product-item--big .product-item__img:hover img {
    transform: none; }

.product-content #home-acc {
  padding: 30px 0; }
  .product-content #home-acc .owl-nav {
    position: absolute;
    top: 35%;
    height: 0;
    width: 100%;
    display: block; }
  .product-content #home-acc .owl-next,
  .product-content #home-acc .owl-prev {
    position: absolute;
    padding: 20px 0 0;
    margin: 0;
    border-radius: 0 5px 5px 0;
    background: #fff;
    width: 34px;
    height: 50px;
    text-align: center;
    font-size: 46px;
    color: #999;
    font-family: -webkit-body;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15); }
  .product-content #home-acc .owl-next {
    right: 0; }
  .product-content #home-acc .owl-prev {
    left: 0; }

.acc-item {
  padding: 0 30px; }
  .acc-item__name {
    margin-top: 15px; }
    .acc-item__name a {
      text-decoration: none;
      font-size: 14px;
      color: #000; }
  .acc-item__price {
    margin-top: 10px;
    overflow: hidden; }
    .acc-item__price .new-price {
      color: #C61D23;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
      float: left; }
    .acc-item__price .old-price {
      color: #000;
      text-decoration: line-through;
      font-size: 13px;
      text-align: right;
      float: right; }

.cat-product-item {
  padding: 15px;
  width: 25%;
  text-align: center;
  border-bottom: .5px solid #E5E5E5;
  border-right: .5px solid #E5E5E5;
  cursor: pointer; }
  .cat-product-item__name {
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
    transition: all 0.3s;
    color: #000;
    text-decoration: none; }
  .cat-product-item__price {
    display: flex;
    margin: 10px 0; }
    .cat-product-item__price .price-new {
      font-weight: bold;
      font-size: 14px;
      color: #C61D23; }
    .cat-product-item__price .price-old {
      margin-left: 10px;
      font-size: 12px;
      text-decoration: line-through; }
  .cat-product-item__media img {
    transition: all 0.3s; }
  .cat-product-item__vote {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .cat-product-item__desc {
    margin: 15px 0; }
    .cat-product-item__desc li {
      margin: 8px 0;
      font-size: 14px; }
  .cat-product-item__action {
    text-align: center; }
  .cat-product-item figcaption {
    text-align: left; }
  .cat-product-item:hover .cat-product-item__media img {
    transform: translateY(-10px); }
  .cat-product-item:hover .cat-product-item__name {
    color: blueviolet; }
  .cat-product-item:hover .button--default {
    color: #fff;
    background-color: #C61D23; }

.vote-stars {
  overflow: hidden;
  display: inline-block; }
  .vote-stars li {
    display: inline; }

.vote-label {
  margin-left: 15px;
  font-weight: 300;
  font-size: 12px; }

.modal {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 350px;
  height: 560px;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7); }
  .modal__head {
    font-size: 14px;
    font-weight: bold; }

.region__head {
  font-size: 14px;
  color: #C61D23;
  margin: 10px 0; }

.region__city h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 10px 0; }

.region__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .region__list .button-location {
    margin: 5px; }

.breadcrumb {
  display: flex; }
  .breadcrumb li:last-child a::after {
    content: none; }
  .breadcrumb li a {
    text-decoration: none;
    color: #C61D23;
    position: relative; }
    .breadcrumb li a::after {
      content: ">";
      margin: 0 5px; }

.icon {
  background-image: url("../images/icondesktop.png");
  background-size: cover;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  display: inline-block; }
  .icon--box {
    background-position: -4px 0px;
    width: 28px;
    height: 23px; }
  .icon--camera {
    background-position: -30px 0px;
    width: 23px;
    height: 23px; }
  .icon--360 {
    background-position: -58px 0px;
    width: 23px;
    height: 23px; }
  .icon--video {
    background-position: -85px 0px;
    width: 28px;
    height: 23px; }

.home-banner {
  margin-top: 10px; }
  .home-banner .right {
    padding-left: 0; }
  .home-banner__img img {
    width: 100%; }
  .home-banner__news {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 5px; }
    .home-banner__news .title {
      font-weight: bold;
      color: #C61C22;
      text-transform: uppercase;
      margin-bottom: 13px; }

.news .news-item {
  overflow: hidden;
  margin-bottom: 5px; }
  .news .news-item__image {
    width: 90px;
    float: left; }
    .news .news-item__image img {
      width: 100%; }
  .news .news-item__title {
    width: calc(100% - 90px);
    float: right;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px; }
    .news .news-item__title a {
      font-size: 13px;
      line-height: 15px;
      text-overflow: ellipsis;
      width: 100%;
      color: #000000;
      text-decoration: none;
      transition: all 0.2s; }
      .news .news-item__title a:hover {
        color: #08c; }

.categories-top {
  margin: 10px 0 0; }
  .categories-top .list-brand {
    background-color: #fff;
    margin-bottom: 10px; }
  .categories-top .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center; }
    .categories-top .brand-item {
      flex-grow: 1;
      border-left: .5px solid #E5E5E5; }
      .categories-top .brand-item a {
        display: block;
        padding: 10px 0;
        text-align: center; }
      .categories-top .brand-item img {
        text-align: center;
        height: 26px; }

.cat-product {
  background-color: #fff;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap; }

.product-details {
  background-color: #fff;
  padding: 15px 0; }

#media-list .list-item {
  padding: 20px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center; }

#media-list .image-icon {
  padding: 5px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  display: inline-block; }
  #media-list .image-icon .icon {
    margin: 8px; }
  #media-list .image-icon img {
    width: 40px;
    margin: 0px 5px; }

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (min-width: 576px) {
  .col-sm-1 {
    float: left;
    padding: 0 15px;
    width: 8.33333%; } }

@media (min-width: 576px) {
  .col-sm-2 {
    float: left;
    padding: 0 15px;
    width: 16.66667%; } }

@media (min-width: 576px) {
  .col-sm-3 {
    float: left;
    padding: 0 15px;
    width: 25%; } }

@media (min-width: 576px) {
  .col-sm-4 {
    float: left;
    padding: 0 15px;
    width: 33.33333%; } }

@media (min-width: 576px) {
  .col-sm-5 {
    float: left;
    padding: 0 15px;
    width: 41.66667%; } }

@media (min-width: 576px) {
  .col-sm-6 {
    float: left;
    padding: 0 15px;
    width: 50%; } }

@media (min-width: 576px) {
  .col-sm-7 {
    float: left;
    padding: 0 15px;
    width: 58.33333%; } }

@media (min-width: 576px) {
  .col-sm-8 {
    float: left;
    padding: 0 15px;
    width: 66.66667%; } }

@media (min-width: 576px) {
  .col-sm-9 {
    float: left;
    padding: 0 15px;
    width: 75%; } }

@media (min-width: 576px) {
  .col-sm-10 {
    float: left;
    padding: 0 15px;
    width: 83.33333%; } }

@media (min-width: 576px) {
  .col-sm-11 {
    float: left;
    padding: 0 15px;
    width: 91.66667%; } }

@media (min-width: 576px) {
  .col-sm-12 {
    float: left;
    padding: 0 15px;
    width: 100%; } }

@media (min-width: 768px) {
  .col-md-1 {
    float: left;
    padding: 0 15px;
    width: 8.33333%; } }

@media (min-width: 768px) {
  .col-md-2 {
    float: left;
    padding: 0 15px;
    width: 16.66667%; } }

@media (min-width: 768px) {
  .col-md-3 {
    float: left;
    padding: 0 15px;
    width: 25%; } }

@media (min-width: 768px) {
  .col-md-4 {
    float: left;
    padding: 0 15px;
    width: 33.33333%; } }

@media (min-width: 768px) {
  .col-md-5 {
    float: left;
    padding: 0 15px;
    width: 41.66667%; } }

@media (min-width: 768px) {
  .col-md-6 {
    float: left;
    padding: 0 15px;
    width: 50%; } }

@media (min-width: 768px) {
  .col-md-7 {
    float: left;
    padding: 0 15px;
    width: 58.33333%; } }

@media (min-width: 768px) {
  .col-md-8 {
    float: left;
    padding: 0 15px;
    width: 66.66667%; } }

@media (min-width: 768px) {
  .col-md-9 {
    float: left;
    padding: 0 15px;
    width: 75%; } }

@media (min-width: 768px) {
  .col-md-10 {
    float: left;
    padding: 0 15px;
    width: 83.33333%; } }

@media (min-width: 768px) {
  .col-md-11 {
    float: left;
    padding: 0 15px;
    width: 91.66667%; } }

@media (min-width: 768px) {
  .col-md-12 {
    float: left;
    padding: 0 15px;
    width: 100%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    padding: 0 15px;
    width: 8.33333%; } }

@media (min-width: 992px) {
  .col-lg-2 {
    float: left;
    padding: 0 15px;
    width: 16.66667%; } }

@media (min-width: 992px) {
  .col-lg-3 {
    float: left;
    padding: 0 15px;
    width: 25%; } }

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    padding: 0 15px;
    width: 33.33333%; } }

@media (min-width: 992px) {
  .col-lg-5 {
    float: left;
    padding: 0 15px;
    width: 41.66667%; } }

@media (min-width: 992px) {
  .col-lg-6 {
    float: left;
    padding: 0 15px;
    width: 50%; } }

@media (min-width: 992px) {
  .col-lg-7 {
    float: left;
    padding: 0 15px;
    width: 58.33333%; } }

@media (min-width: 992px) {
  .col-lg-8 {
    float: left;
    padding: 0 15px;
    width: 66.66667%; } }

@media (min-width: 992px) {
  .col-lg-9 {
    float: left;
    padding: 0 15px;
    width: 75%; } }

@media (min-width: 992px) {
  .col-lg-10 {
    float: left;
    padding: 0 15px;
    width: 83.33333%; } }

@media (min-width: 992px) {
  .col-lg-11 {
    float: left;
    padding: 0 15px;
    width: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg-12 {
    float: left;
    padding: 0 15px;
    width: 100%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    float: left;
    padding: 0 15px;
    width: 8.33333%; } }

@media (min-width: 1200px) {
  .col-xl-2 {
    float: left;
    padding: 0 15px;
    width: 16.66667%; } }

@media (min-width: 1200px) {
  .col-xl-3 {
    float: left;
    padding: 0 15px;
    width: 25%; } }

@media (min-width: 1200px) {
  .col-xl-4 {
    float: left;
    padding: 0 15px;
    width: 33.33333%; } }

@media (min-width: 1200px) {
  .col-xl-5 {
    float: left;
    padding: 0 15px;
    width: 41.66667%; } }

@media (min-width: 1200px) {
  .col-xl-6 {
    float: left;
    padding: 0 15px;
    width: 50%; } }

@media (min-width: 1200px) {
  .col-xl-7 {
    float: left;
    padding: 0 15px;
    width: 58.33333%; } }

@media (min-width: 1200px) {
  .col-xl-8 {
    float: left;
    padding: 0 15px;
    width: 66.66667%; } }

@media (min-width: 1200px) {
  .col-xl-9 {
    float: left;
    padding: 0 15px;
    width: 75%; } }

@media (min-width: 1200px) {
  .col-xl-10 {
    float: left;
    padding: 0 15px;
    width: 83.33333%; } }

@media (min-width: 1200px) {
  .col-xl-11 {
    float: left;
    padding: 0 15px;
    width: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl-12 {
    float: left;
    padding: 0 15px;
    width: 100%; } }

* {
  box-sizing: border-box; }

body {
  background: #E5E5E5; }

.row {
  margin: 0 -15px; }
  .row :after {
    content: "";
    clear: both; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden; }
